<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="specific404page" frontName="specific404page">
            <module name="Training2_Specific404Page" />
        </route>
    </router>
</config>